/* Гамбургер іконка */
.menu-btn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  z-index: 9999;
  cursor: pointer;
}

.menu-btn span {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  z-index: 9999;
}

.menu-btn span {
  background-color: #222125;
}

.dark-theme .menu-btn span {
  background-color: #f4f6f7;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

/* Змінюємо гамбургер іконку, коли меню відчинено */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, яке буде зʼявлятися */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #f4f6f7;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 9998;
}

.dark-theme .menu {
  background: #222125;
}

.menu.active {
  transform: translateX(0);
  text-align: center;
}

.menu li {
  list-style-type: none;
  padding: 10px;
  font-size: 1.5em;
}

.menu li a,
.menu p {
  color: #222125;
}

.menu p {
  padding-top: 20px;
  line-height: 1.3;
}

.dark-theme .menu li a,
.dark-theme .menu p {
  color: #f4f6f7;
}

.menu ul {
  padding-top: 20px;
}

.menu .logo {
  margin: 0 auto;
}

.menu {
  background: #f4f6f7;
}

.dark-theme .menu {
  background: #222125;
}

.soc {
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 100%;
}

.face, .youtube {
width: 30px;
height: 30px;
margin: 20px 10px;
cursor: pointer;
}

.insta {
  width: 25px;
  height: 25px;
  margin: 20px 10px;
  cursor: pointer;
  }

.insta {
	background: url('../img/ico/insta.svg') 0 0 / 100% no-repeat;
}

.dark-theme .insta {
	background: url('../img/ico/insta_ligth.svg') 0 0 / 100% no-repeat;
}

.face {
	background: url('../img/ico/facebook.svg') 0 0 / 100% no-repeat;
}

.dark-theme .face {
	background: url('../img/ico/facebook_ligth.svg') 0 0 / 100% no-repeat;
}

.youtube {
	background: url('../img/ico/youtube.svg') 0 0 / 100% no-repeat;
}

.dark-theme .youtube {
	background: url('../img/ico/youtube_ligth.svg') 0 0 / 100% no-repeat;
}


/*  
.page__ico {
	width: 30px;
	height: 30px;
	flex: 0 0 30px;
}
.page__btn {
	width: 30px;
	height: 30px;
	flex: 0 0 30px;
	cursor: pointer;
}

.page__action{
	position: relative;
}

.page__insta {
	background: url('../img/ico/insta.svg') 0 0 / 100% no-repeat;
}

.dark-theme .page__insta {
	background: url('../img/ico/insta.svg') 0 0 / 100% no-repeat;
}

.page__facebook {
	background: url('../img/ico/facebook_ligth.svg') 0 0 / 100% no-repeat;
}

.dark-theme .page__facebook {
	background: url('../img/ico/facebook_dark.svg') 0 0 / 100% no-repeat;
}

.page__youtube {
	background: url('../img/ico/youtube_ligth.svg') 0 0 / 100% no-repeat;
}

.dark-theme .page__youtube {
	background: url('../img/ico/youtube_dark.svg') 0 0 / 100% no-repeat;
}

*/