/* Стилі для модального вікна */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 10px;
  }
  
  .modal-content {
    background-color: #f4f6f7;
    margin: 1em auto;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    /*  height: 100vh; */
    max-height: 600px;
  }

  .modal-content img {
    margin: 0 auto;
      }

  .modal-content-m img {
    margin: 0 auto;
      }

  @media screen and (max-width: 600px) {
  .picha {
   margin-left: 10px;
   margin-top: -20px;
  }
 }

  .closeModalBtn {
    width: 50px;
    height: 50px;
    /*
    margin-right: -10px;
    margin-top: -15px;
    */
    color: #222125;
    float: right;
    font-size: 4em;
    cursor: pointer;
    z-index: 9999;
    background: url('../img/ico/escape.svg') 0 0 / 100% no-repeat;
  }

  .dark-theme .closeModalBtn {
    background: url('../img/ico/escape-dark.svg') 0 0 / 100% no-repeat;
  }

  .dark-theme .modal-content {
    background-color: #222125;
  }

  .dark-theme .modal {
    background-color: #29282c;
  }
  
  .dark-theme .closeModalBtn {
    color: #f4f6f7 ;
  }
  
  .prokogo {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .vmastprokogo {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 1;
    width: 100px;
    text-align: left;
 
  }

  .centermod {
height: 100vh;
display: flex;
align-items: center;
  }
 
  

  