@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
@import url('css/reset.css');
@import url('css/sticky.css');
@import url('css/menu.css');
@import url('css/navbar.css');
@import url('css/footer.css');
@import url('css/switch.css');
@import url('css/tabs.css');
@import url('css/decor.css');
@import url('css/rozmiry.css');
@import url('css/modal.css');
@import url('css/hiden.css');
@import url('css/gallery.css');
@import url('css/communication.css');
@import url('css/sale.css');
@import url('css/animation.css');

body {
  background-color: #f4f6f7;
  color: #222125;
}

.dark-theme {
  background-color: #222125;
  color: #fff;
}

.dark-theme body {
  background-color: #222125;
  color: #f4f6f7;
  font-size: 50px;
}

.page {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.vidstup-ten {
min-height: 20px;
}

.mt-twen {
  margin-top: 40px;
}

.pbtwen {
  padding-bottom: 40px;
}

.mtten {
  margin-top: 10px;
}


.mttenten {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .mttenten {
    margin-top: 0px;
  }
}

.probil-25 {
 min-height: 25px;
}

.probil-100 {
  min-height: 100px;
 }

.mbten {
  margin-bottom: 10px;
}

.pten {
 padding-left: 10px;
}

.centerp {
 text-align: center;
}

.pdrigtwo {
 padding-right: 20px;
}

.ptopten {
  padding-top: 10px;
 }

.bottom-ten {
 margin-bottom: 5px;
}

.line-ten {
  height: 20px;
}

@media (max-width: 378px)  {
  .line-ten {
    height: 0px;
  }
  }

@media (max-width: 1180px)  {
.layout {
  padding-left: 24px;
  padding-right: 24px;
}
}

@media (max-width: 370px)  {
  .layout {
    padding-left: 7px;
    padding-right: 7px;
  }
  }


