<div class="container text-center container-contact">
  <div class="row-cols-3 row-mny">
      <div class="col col-mny">
          <div class="banerok"><a href="viber://chat?number=%2B380989938394"><img src="img/ico/viber.svg" alt=""
                      height="23px">&nbsp;<span>Написати</span></a></div>
      </div>
      <div class="col col-mny">
          <div class="banerok-telegram"><a href="viber://chat?number=%2B380989938394"><img src="img/ico/telegram.svg"
                      alt="" height="23px">&nbsp;<span>Написати</span></a></div>
      </div>
      <div class="col col-mny">
          <div class="banerok-phone"><a href="tel:+380989938394"><img src="img/ico/phone.svg" alt=""
                      height="23px">&nbsp;<span>Подзвонити</span></a></div>
      </div>
  </div>
</div>