<div class="vidstup-ten"></div>

<p class=""><strong>Mocco.</strong> Тип тканини: Велюр. Склад: 100% PES. Зносостійкість(циклів): 50000.</p>

<div class="decory">
    
    <div class="item">
        <img src="img/decor/mocco/mocco-1.png" alt="Mocco 1">
        <p>Mocco 1</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-9.png" alt="Mocco 9">
        <p>Mocco 9</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-12.png" alt="Mocco 12">
        <p>Mocco 12</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-18.png" alt="Mocco 18">
        <p>Mocco 18</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-63.png" alt="Mocco 63">
        <p>Mocco 63</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-35.png" alt="Mocco 35">
        <p>Mocco 35</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-32.png" alt="Mocco 32">
        <p>Mocco 32</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-37.png" alt="Mocco 37">
        <p>Mocco 37</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-36.png" alt="Mocco 36">
        <p>Mocco 36</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-84.png" alt="Mocco 84">
        <p>Mocco 84</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-98.png" alt="Mocco 98">
        <p>Mocco 98</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-88.png" alt="Mocco 88">
        <p>Mocco 88</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-91.png" alt="Mocco 91">
        <p>Mocco 91</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-96.png" alt="Mocco 96">
        <p>Mocco 96</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-95.png" alt="Mocco 95">
        <p>Mocco 95</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-97.png" alt="Mocco 97">
        <p>Mocco 97</p>
    </div>
    <div class="item">
        <img src="img/decor/mocco/mocco-99.png" alt="Mocco 99">
        <p>Mocco 99</p>
    </div>
    <div class="item">
        <div class="plashkared">
            <a href="#"><span>Маємо</span> ще 300+
                декорів <span>різних типів
                    тканин.</span>
            </a>
        </div>
    </div>


</div>